@font-face {
  font-family: 'poppins-medium';
  src: url('/Fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'impact-large';
  src: url('/Fonts/Impact-Font/impact.ttf');
}

* {
  font-family: 'poppins-medium';
  font-size: 16px;
  box-sizing: border-box;
}

/*******************HELPERS******************/

.flex-box {
  display: flex;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

::placeholder {
  padding: 5px;
}

/****************MAIN CONTAINER**************/
.mainContainer {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #22252c;
  max-width: 1280px;
  height: 90vh;
}

.stickers button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.stickers button:hover {
  background-color: #2e3239;
  ;
}

.stickers {
  border-block: 1px black solid;
  padding-inline: 5px;
}

.secondaryContainer {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #383b42;
  min-height: 100%;
  max-width: 1250px;
  flex-direction: column;
  width: 100%;
}

/****************MAIN HEADER*****************/
.mainHeader {
  width: 100%;
  height: 4.5rem;
  border-radius: 2.31rem;
  background-color: #5970c1;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mainHeader .header {
  margin-inline: 1.3rem;
}

.headerBtn {
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  padding-inline: 1.3rem;
  padding-block-start: 4px;
  padding-block-end: 5px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.25rem;
  background-color: #fefefe;
  color: #21ac91;
}

.fullGallery {
  margin-left: auto;
  margin-right: auto;
}

.aboutBtn {
  padding-block-start: 4px;
  padding-block-end: 5px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  color: white;
  box-shadow: none;
  pointer-events: none;
}

.mainHeader .mainNav {
  padding-inline-end: 8rem;
}

.mainHeader .mainLogo {
  margin-inline-start: 5rem;
  width: 100px;
  height: 17px;
}

/******************SEARCH HEADER*****************/
.searchHeader {
  align-items: center;
}

.searchWords {
  justify-content: center;
  background-color: #44464b;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 500px;
  padding-inline: 40px;
}

.searchWord {
  margin: 7px;
  text-decoration: underline;
}

/*****************GALLERY***************/
.flexibleBtn {
  position: relative;
  top: 40px;
  right: 230px;
}

.xBtn{
  width: 10px;
  height: 10px;
}

.galleryImg {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.galleryImg:hover {
  border: 1px black solid;
}

.galleryContainer>*:not(:first-child) {
  margin-right: 10px;
}

.galleryContainer,
.savedMemesContainer {
  margin-top: 3.1rem;
  margin-left: auto;
  margin-right: auto;
  grid-template: 200px 200px 200px 200px 200px/200px 200px 200px 200px 200px;
  gap: 20px;
}

/*********************MEME EDITOR************************/
.editorContainer {
  margin-top: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

/*****************controlBox*************/
.controlBox {
  padding-top: 80px;
  text-align: center;
  border-radius: 1rem;
  background-color: #606a80;
  width: 525px;
  height: 700px;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  gap: 30px;
}

#textInput {
  width: 60%;
  border-radius: 5px;
  border: 1px solid black;
}

textarea:focus,
input:focus {
  outline: none;
}

.controlBox .textControls button {
  cursor: pointer;
  margin: 7px;
  width: 70px;
  height: 50px;
  font-size: 20px;
}

.colorInput{
  scale: 1.3;
  margin: 7px;
}
/*****************CANVAS**************/
canvas {
  display: block;
  margin: 0 auto;
  /* outline: 1px solid black; */
  background-color: white;
}

.canvasContainer {
  background-color: #3c3e44;
  margin: 0 auto;
  width: 550px;
  height: 550px;
  box-shadow: 0 0 4px 1px #2e2f34;
}